.group {
    display: grid;
    grid-template-columns: 6fr 2fr;
    border: 1px solid #ddd;
    max-width: 210px;
    margin-bottom: 14px;
    text-align: center;
    background-color: #fafafa;
}

.group__left > div {
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}
.vs {
  font-size: 10px;
  text-transform: uppercase;
}
.win {
    background-color: springgreen;
}

.counter {
  color: royalblue;
  padding: 10px;
}
